body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
}

.card {
    width: 80%;
    max-width: 400px;
    background-color: hsl(0, 0%, 8%);
    padding: 20px;
    border-radius: 13px;
}


.profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main img {
    border-radius: 100px;
}

.profile-main h2 {
    margin-bottom: 5px;
}

.profile-main p {
    margin-top: 5px;
}

.profile-footer p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul li {
    background-color: hsl(0, 0%, 20%);
    margin-block: 20px;
    padding: 15px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    margin-inline: auto;
    cursor: pointer;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: hsl(75, 94%, 57%);
}