html {
    font-size: 62.5%;
}

body {
    background-color: hsl(226, 43%, 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

p,
h1 {
    margin: 0;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
}


.card {
    display: grid;
    grid-template-rows: 20% 80%;
    border-radius: 13px;
    color: white;
}


.content {
    background: hsl(235, 46%, 20%);
    border-radius: 13px;
}

.footer {
    color: hsl(236, 100%, 87%);
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.curr_time {
    font-weight: 100;
    font-size: 4.5rem;
    padding: 0 2rem;
}

.options-button {
    background: none;
    border: none;
}


.profile-card {
    grid-row: 1/3;
    background: hsl(235, 46%, 20%);
    border-radius: 13px;
    color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.profile {
    background-color: hsl(235, 45%, 61%);
    padding: 2rem;
    border-radius: 13px;
}

.profile h1,
p {
    font-weight: 300;
    padding: 0.5rem;
}

.profile p {
    font-size: 1.4rem;
}

.profile h1 {
    font-size: 4rem;
}

.profile img {
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
}

.schedule-card {
    grid-row: 2;
    color: hsl(235, 45%, 61%);
    font-size: 1.8rem;
}

.schedule-card ul {
    list-style-type: none;
    padding-left: 1rem;
}

.schedule-card li {
    padding: 1rem;
}

/* @media (max-width:1253px) {
    .profile p {
        font-size: 1.2rem;
    }

    .profile h1 {
        font-size: 3rem;
    }

    .schedule-card {
        font-size: 1.6rem;
    }

    .header {
        font-size: 1.15rem;
    }

    .curr_time {
        font-size: 3.5rem;
    }
}

@media (max-width:1020px) {

    .profile h1 {
        font-size: 2.5rem;
    }

    .schedule-card {
        font-size: 1.4rem;
    }

    .curr_time {
        font-size: 2.5rem;
    }

    .footer {
        font-size: 1rem;
    }
}

@media (max-width:910px) {
    .profile h1 {
        font-size: 2rem;
    }

} */