body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 900;
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
}

button,
a {
    cursor: pointer;
}

.card {
    display: flex;
    box-shadow: 0px 10px 30px 0px rgb(167, 161, 161);
    border-radius: 8px 8px 8px 8px;
    position: relative;
}

.banner {
    max-width: 400px;
    max-height: 370px;
}

.banner>img {
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.content {
    padding: 20px;
}

.first-section {
    color: rgb(65, 63, 63);
}

.second-section {
    font-size: 14px;
    color: grey;
    word-spacing: 5px;
}

.social-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
}

.profile {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.share {
    position: relative;
}

.sub-share {
    display: flex;
    justify-content: space-between;
    background-color: hsl(217, 19%, 35%);
    align-items: center;
    position: absolute;
    right: -20px;
    bottom: 125px;
    border-radius: 8px;
    padding: 20px;
    font-size: 10px;
    letter-spacing: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.sub-share>p,
.sub-share>a {
    margin-inline: 10px;
}

.social-section button {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: hsl(204, 14%, 85%);
    border: none;
}

.name {
    margin-left: 10px;
}

.name>p {
    margin: 0px;
}

.hidden {
    opacity: 1;
}

@media (max-width:999px) {
    .card {
        flex-direction: column;
    }

    .banner {
        max-height: none;
        max-width: none;
        height: 400px;
        width: 100%;
    }

    .banner>img {
        width: 100%;
    }

    .sub-share {
        bottom: 0px;
        right: 0px;
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    .share-button {
        position: relative;
        top: 3px;
        z-index: 1;
    }

}

@media (max-width:550px) {
    .first-section {
        font-size: 16px;
    }

    .second-section {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .first-section {
        font-size: 14px;
    }

    .second-section {
        font-size: 12spx;
    }

    .banner {
        height: 300px;
    }
}